<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css"/>
	<style>
		#top {
			background-color: #000000;
			height: 30px;
			-webkit-app-region: drag;
			margin-bottom: 20px;
		}

		#top>div>img {
			width: 12px;
			-webkit-app-region: no-drag;
		}

		.input-group {
			margin-bottom: 10px;
		}

		#endp {
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		body,
		html {
			height: 100%;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row justify-content-end" id="top">
			<div class="col-auto">
				<img src="img/glyphicons-208-remove.png"/>
			</div>
		</div>
		<div class="row justify-content-center">
			<h1>OSS</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="input-group">
					<input type="text" id="ak" class="form-control" placeholder="AccessKey" aria-label="AK" aria-describedby="basic-addon1" value="V5qGbarayqTOvfJgsTkciztnr2zL_E02eRTBeyju"></div>
				<div class="input-group">
					<input type="text" id="sk" class="form-control" placeholder="secretKey" aria-label="SK" aria-describedby="basic-addon1" value="Xl9l7SUDJg8u6aKzwR734N8sOKU7-cXKEY4eKw-Q"></div>
				<div class="input-group">
					<input type="password" id="key1" class="form-control" placeholder="安全码" aria-label="Username" aria-describedby="basic-addon1" value="8791">
				</div>
				<div class="input-group">
					<input type="password" id="key2" class="form-control" placeholder="确认安全码" aria-label="Username" aria-describedby="basic-addon1" value="8791">
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-10">
				<button class="btn btn-block btn-outline-success btn-lg">登陆</button>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/remove_electron_key.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript">
		let {ipcRenderer}=nodeRequire("electron");
		console.log("start register")
		$("#top>div>img").on("click", function (evt) {
			ipcRenderer.send("try-close-window");
			console.log("send close window")
		})
		$(".btn:first").on("click", function (evt) {
			var ak= $("#ak").val();
			var sk=$("#sk").val();
			var key="";
			if($("#key1").val()===$("#key2").val()){
				key=$("#key1").val();
				if(key.length==4){
					key=$("#key1").val();
				}else{
					alert("长度不对")
					return;
				}
				
			}else{
				alert("再次输入的安全码不一样")
				return;
			}
			//alert(ak+sk)
			var loginResult=ipcRenderer.sendSync("try-regist",[ak,sk,key]);
			if(loginResult[0]){
				//alert(loginResult[1])
			}else{
				alert("连接失败:"+loginResult[1])
			}
		})
	</script>
</body>

</html>