<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css"/>
	<style>
		#top {
			background-color: #000000;
			height: 30px;
			-webkit-app-region: drag;
			margin-bottom: 20px;
		}

		#top>div>img {
			width: 12px;
		}

		.input-group {
			margin-bottom: 10px;
		}

		#endp {
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		body,
		html {
			height: 100%;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row justify-content-end" id="top">
			<div class="col-1 align-self-center">
				<img src="img/glyphicons-208-remove.png"/>
			</div>
		</div>
		<div class="row justify-content-center">
			<h1>OSS</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="AccessKey" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="secretKey" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div class="input-group">
					<input type="password" class="form-control" placeholder="安全码" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div class="input-group">
					<input type="password" class="form-control" placeholder="确认安全码" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-10">
				<button class="btn btn-block btn-outline-success btn-lg">登陆</button>
			</div>
		</div>
	</div>
	<script src="js/remove_electron_key.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript">
		let {ipcRenderer}=nodeRequire("electron");
		$(".btn:first").on("click", function (evt) {
			alert($("input:first").val());
			if(ipcRenderer.sendSync("try-login")){

			}else{
				alert("失败")
			}
		})
	</script>
</body>

</html>